
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <div> 
        <b>This is message from url:@ViewBag.Message</b>
    </div>
</body>
</html>
