@model SeminarInvites.Models.GuestResponse 
@{
    //ViewBag.Title = "Thanks";
    Layout = null;
}

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <Title>Thanks</Title>
    <style>
        body{
                background-color:#F1F1F1;
        }
    </style>
</head>
    <body>
        <div class="text-center">
        <h1>Thank you,@Model.Name !</h1>
        <div class="lead">
            @if(Model.WillAttend ==true)
            {
                @:It's Great that you are coming for seminar.Your seat is reserved.
            }
            else
            {
                @:Sorry to hear that you can't make it,but thanks for letting us know.
            }
        </div>
    </div>
   </body>
</html>