@model RazorDemo.Models.Product

@{
    ViewBag.Title = "Name and Price";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<h2>Name and Price</h2>
The Product Name is :@Model.Name  annd it's Costs is : $@Model.Price