@model ModelValidation.Models.Appointment

@{
    ViewBag.Title = "Completed";
}

<h4>Your appointment is confirmed</h4>
<p>Your Name is: <b>@Html.DisplayFor(m=>m.ClientName)</b></p>
<p>The Date of your appointment is :<b>@Html.DisplayFor(m=>m.Date)</b></p>

